
    body {
      background: #f2f2f2;
      font-family: Arial, sans-serif;
        font-weight: 600;
    }

    .contact-card {
      /* width: 360px; */
      background: linear-gradient(180deg, #27a4e0, #1b8ccf);
      padding: 30px;
      border-radius: 18px;
      width: 100%;
      max-width: 520px;
    }

    .info-box {
      background: rgba(255,255,255,0.15);
      padding: 12px;
      border-radius: 12px;
    }

    .info-box i {
      font-size: 22px;
      background: white;
      color: #1b8ccf;
      padding: 10px;
      border-radius: 10px;
      margin-right: 12px;
    }

    .stats-box {
      background: rgba(255,255,255,0.15);
      padding: 15px;
      border-radius: 14px;
    }
    .social-icons small {
  font-weight: 700;  /* Makes "Follow Us" bold */
}

    .social-icons i {
      font-size: 18px;
      cursor: pointer;
        font-weight: 700;  
  color: white; 
    padding: 10px;           
  border-radius: 50%;
   background-color: #5da3cb;  
    }
    .custom-button{
         padding: 12px 22px;   /* height ↑ width ↑ */
  font-size: 15px;
  border-radius: 25px; /
    }
  